# path:       /home/klassiker/.local/share/repos/epg/epg.timer
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/epg
# date:       2020-06-02T10:54:18+0200

[Unit]
Description=daily run epg.service

[Timer]
OnCalendar=0:15:00
AccuracySec=5m
Unit=epg.service

[Install]
WantedBy=timers.target
