# path:   /home/klassiker/.local/share/repos/epg/systemd/epg.timer
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/epg
# date:   2025-08-06T05:17:57+0200

[Unit]
Description=run epg.service daily

[Timer]
OnCalendar=4:04:00

[Install]
WantedBy=timers.target
