# path:   /home/klassiker/.local/share/repos/epg/systemd/epg.service
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/epg
# date:   2025-04-27T05:52:30+0200

[Unit]
Description=processing epg data and uploading to webserver

[Service]
Type=oneshot
ExecStart=/home/klassiker/.local/share/repos/epg/epg.sh

[Install]
WantedBy=multi-user.target
