# path:   /home/klassiker/.local/share/repos/epg/systemd/epg.timer
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/epg
# date:   2025-04-27T05:56:00+0200

[Unit]
Description=run epg.service daily

[Timer]
OnCalendar=4:04:00

[Install]
WantedBy=timers.target
